<% wrap_layout :inner do %>
    <% content_for :sidebar do %>
      <div class="docs-sidebar hidden-print affix-top" role="complementary">
        <ul class="nav docs-sidenav">
          <li<%= sidebar_current("docs-home") %>>
            <a href="/docs/providers/index.html">All Providers</a>
          </li>
  
          <li<%= sidebar_current("docs-artifactory-index") %>>
            <a href="/docs/providers/artifactory/index.html">Artifactory Provider</a>
          </li>
  
          <li<%= sidebar_current("docs-artifactory-resource") %>>
            <a href="#">Resources</a>
            <ul class="nav nav-visible">
              <li<%= sidebar_current("docs-artifactory-resource-group") %>>
                <a href="/docs/providers/artifactory/r/artifactory_group.html">artifactory_group</a>
              </li>
              <li<%= sidebar_current("docs-artifactory-resource-local-repository") %>>
                <a href="/docs/providers/artifactory/r/artifactory_local_repository.html">artifactory_local_repository</a>
              </li>
              <li<%= sidebar_current("docs-artifactory-resource-permission-target") %>>
                <a href="/docs/providers/artifactory/r/artifactory_permission_target.html">artifactory_permission_target</a>
              </li>
              <li<%= sidebar_current("docs-artifactory-resource-remote-repository") %>>
                <a href="/docs/providers/artifactory/r/artifactory_remote_repository.html">artifactory_remote_repository</a>
              </li>
              <li<%= sidebar_current("docs-artifactory-resource-replication-config") %>>
                <a href="/docs/providers/artifactory/r/artifactory_replication_config.html">artifactory_replication_config</a>
              </li>
              <li<%= sidebar_current("docs-artifactory-resource-user") %>>
                <a href="/docs/providers/artifactory/r/artifactory_user.html">artifactory_user</a>
              </li>
              <li<%= sidebar_current("docs-artifactory-resource-virtual-repository") %>>
                <a href="/docs/providers/artifactory/r/artifactory_virtual_repository.html">artifactory_virtual_repository</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    <% end %>
  
    <%= yield %>
  <% end %>